{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <div class="d-flex flex-row-reverse">
  <div class="p-2">
    <button class="button-34" role="button"><a href="{% url 'logout' %}">Logout</a></button>
  </div>
  </div>
  <div class="header">


  <marquee>
    <h1  onClick="showHideDiv('divMsg')"> Dimensionality Reduction and Classification on Hyperspectral Images</h1></marquee>
    
    
    </div>
    
    <form action="/result/" method="post" enctype="multipart/form-data">
  
    {% if raw_url or edit_url %}
    <h2>Colour Image</h2>
    <img src="/media/image.jpg" id="image-field"  data-imagezoom="true" data-magnification="10" height="800" width="1000"  >
    <br><br>
   <h2>Ground Truth Image</h2>
<img src="/media/ground_truth.jpg"  id="image-field" data-imagezoom="true" data-magnification="10" height="800" width="1000">

    

    <br><br>
    <h2>Classification Image</h2>
<img src="/media/Classification_map.jpg" id="image-field"  data-imagezoom="true" data-magnification="20" height="800" width="1000" >
    

<br><br><br><br><p>Click here to download demensionally reduced dataset</p>
<button class="button-34" role="button"><a href="/media/dataset/result.mat" download>Download</a></button>
</div>

    


    {% endif %}

    {% csrf_token %}
    <br><br>
    <div class="d-flex justify-content-center">

    <input type="file" name="ima" required>
    <button class="button-33" role="button" type="submit">submit</button>
    </form>
  </div>
    </div>
{% else %}
<p>Welcome to Hyperspectral Images </p>
<button class="button-33" role="button"><a href="{% url 'login' %}">login</a></button>
<button class="button-33" role="button"> <a href="{% url 'signup' %}">signup</a></button>
  <!-- HTML !-->


{% endif %}
{% endblock %}
